svg.svg-icons-ps{
    font-size: 48px;
    .cls-1{
        fill: none;
        stroke-width: 10;
        stroke: black;
    }

    .cls-circle{
        fill: black;
        stroke: none;
        stroke-width: 0;
    }
}
