$primaryColor: #333;
$secondaryColor: #232323;
$thirdColor: #121212;

$firstMainColor: royalblue;
$secondMainColor: tomato;
$thirdMainColor: rgb(29, 153, 29);

$fontPrimary: #eee;
$fontSecondary: #ddd;
$fontThird: rgb(146, 146, 146);
$fontFourth: rgb(107, 107, 107);
